:root{
    --light-green: #DDEFBB ;
    --light-pink: #FFEEEE;
    --color1: #131200; /* Dark Chocolate*/
    --color2: #E3D1D1; /* Misty Rose*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    /* background: #FFEEEE; */
    /* background: -webkit-linear-gradient(to left, #DDEFBB, #FFEEEE); */
    background: linear-gradient(
        to bottom right, 
        #DDEFBB 0%, 
        #FFEEEE 35%,
        #DDEFBB 40%, 
        #FFEEEE 60%,
        #DDEFBB 90%, 
        #FFEEEE 100% 
    );    
    width: 100%;
    height: 100vh; 
    background-size: 300% 300%;
    animation: bg-animation 15s linear infinite alternate-reverse;
    
    /* !--PRUEBA DE ESTILO--! */
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: none;
    width: 7rem;
    height: 1.5rem;
    font-weight: bold;
    border-radius: 25px;
    background-color: var(--light-pink);

}

button:hover{
    transform: scale(1.01);
    cursor: pointer;
}
@keyframes bg-animation {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}

.shop{
    display: grid;
    grid-template-columns: auto auto;
    gap: 26px;
}

.product-card{
    /* border: 1px solid white; */
    border-radius: 25px;
    display: flex;
    width: 45vw;
    /* margin: px 0; */
}
.product-img{
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.product-info{
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
}

.product-name{
    color: var(--color1);
}

.product-subtitle{
    color: #839e83;
}

.product-description{
    width: 80%;
    color:var(--color1);
    padding-top: 16px;
}

.product-cost-buy{
    padding-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.product-price{
    font-weight: bold;
}